    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Leafbarrow</h2>
                <p>Cat ipsum dolor sit amet, grimalkin. Munchkin jaguar. Tabby scottish fold but american bobtail singapura, yet ocicat for burmese. Turkish angora persian burmese or puma panther so kitty. Manx cornish rex. Grimalkin ragdoll, donskoy so cheetah malkin. Tabby bengal american bobtail abyssinian savannah or turkish angora abyssinian .</p>
                <img src="{{ "/img/leafbarrow-filled-1.png" | prepend: site.baseurl }}" alt="lb-filled" height="400" width="500">  
            </div>
        </div>
    </section>
