<!-- About Section -->
<!--<script src="{{ "/js/slideshow.js" | prepend: site.baseurl }}"></script> -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Leafbarrow</h2>
            <p>The <b>Leafbarrow</b> is the result of years of engineering and product development. 
                It enables faster and larger yard cleanups for leaves, mulch, branches and more.</p>
            <p>No need to rake leaves into a pile, you can move the Leafbarrow directly up to a leaf 
                pile and efficiently rake directly into it.</p>
            <p>Pick up leaves, grass, gravel, and dirt as you go, the pile is made inside the barrow, 
                and you can move it around your yard easily.</p>          
            <p>Anything a wheel barrow can hold, the Leafbarrow can hold, plus more.</p>
        </div>
    </div>
    <iframe width="660" height="415" src="https://www.youtube-nocookie.com/embed/hu2agki4Gzw?rel=0&amp;showinfo=0" style = "padding:10px;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <iframe width="660" height="415" src="https://www.youtube-nocookie.com/embed/yHkNDF7uZdU?rel=0&amp;showinfo=0" style = "padding:10px;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>
   

